version: '3'

services:
  db:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      SECRET_KEY: my_secret_key
      DEBUG: 'TRUE'
      ADMIN_NAME: Administrator
      ADMIN_EMAIL: admin@lbw.com
      ALLOWED_HOST: localhost
      MARIADB_HOST: db
      DEFAULT_FROM_EMAIL: admin@lbw.com
      SERVER_EMAIL: admin@lbw.com
      LBW_TO_EMAIL: list@lbw.com
      LBW_FROM_EMAIL: registration@lbw.com
